header{
    font-size: 60px;      
    background-color: #AA85D2;    
}

nav li {
    display: inline;
    margin: 0 0 0 10px;    
}

body{ 
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    color:#ffffff
}

a:link{
    color:#ffffff
}

a:visited{
    color:#00d9ff
}

a:hover{
    color:#39ffc7
}

a:active {
    color: #fbff00;
  }

.center{
    text-align: center;
}

.pad{
    font-size: 15px;   
    padding-left:60px;    
}

.pad1{
    padding-right:60px;
}