@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corben&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Corben&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

#cabecalho {
    display: flex;
}

#logo {
    font-family: 'Chango', sans-serif;
    background: -webkit-linear-gradient(left, #FF0000 50%, #fcd600 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
}

#donos {
    font-family: 'Corben', serif;
    text-align: center;
}

#cardapio {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Corben', serif;
    padding-left: 45px;
}

.titulo {
    text-align: center;
    font-family: 'Mitr', sans-serif;
    color: #FF0000;
    padding-left: 300px;
    height: 50px;
}

.item {
    margin-top: 20px;
    padding-left: 55px;
}

.menu {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Corben', serif;
    padding-left: 45px;
}

.combo {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Corben', serif;
    padding-left: 45px;

}

.item-combo {
    display: flexbox;
    padding-left: 55px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.bebidas {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Corben', serif;
    padding-left: 45px;
}

.item-bebida {
    display: flexbox;
    padding-left: 55px;
    margin-top: 15px;
    margin-bottom: 5px;
}

hr {
    position: relative;
    border: none;
    height: 12px;
    background: #FF9100;
    margin-bottom: 0px;
}

img {
    width: 300px;
    height: 300px;
}

footer {
    font-family: 'Corben', serif;
    text-align: center;
}

button {
    color: #ffffff;
    background-color: #FF9100;
    border: none;
    border-radius: 10px;
    padding: 10px;
    border-color: 255, 145, 0;
    cursor: pointer;
}

p {
    font-family: 'Source Code Pro', monospace;
}

span {
    font-family: 'Source Code Pro', monospace;
}

input {
    color: #FF0000;
    background-color: #fcd600;
    border-color:#FF9100;    
    border-radius: 10px;
    padding: 10px;
    font-family: 'Corben', serif;
    text-align: center;
    width: 300px;    
    cursor: pointer;
    margin-left: 450px;
}