nav li {
    display: inline;
    margin: 0 0 0 15px;
    
}

a:link {
    color: #363636}

a:visited {
    color: #00ff00
}

a:hover {
    color: #a25dd88f
}

a:active {
    color: #e34f5c;
}

img{
    padding-left: 100px;
}

h1 {
    font-size: 50px;
    padding-left: 30px;    
}

h2 {
    padding-left: 50px;    
}

h3{
    padding-left: 75px;

}

.fazer{
    padding-left: 100px;
}